.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 3px;
}

.search-button{
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  width: 12%;
  color: black;
  border-radius: 3px;
}

.recipes{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /*padding: 0px 100px;
  margin-right: 0px 100px; */
  align-content: center;
}